/* Estilos de CSS */

header 
{
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h2
{
	color: #007bff;
}

body
{
	font-family: Arial, sans-serif;
    margin: 5;
    padding: 5;
	font-size:  16px;
	line-height: 1.5;
    background-color: #fff;
}

#col1
{
	float: left;
	width: 32%;
	margin-right: 2%;
}
#col2
{
	float: left;
	width: 32%;
	margin-right: 2%;
}
#col3
{
	float: left;
	width: 32%;
}
#col4
{
	float: right;
	width: 32%;
	margin-top: 10px;
}
video 
{
	margin-top: 10px;
	position: relative;
	left: 30px;
	float: left;
	width: 750px;
	height: 350px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

a
{
	text-decoration: none;
}

a:link 
{
  	color: #007bff;
}

a:visited
{
  	color: #007bff;
}

a:hover
{
  	color: #0000FF;
	text-decoration: underline;
}

a:active
{
  	color: #ADD8E6;
}

img
{
	border-radius: 8px;
}

hr
{
	border-color: #ccc;
}

.tabela
{
	background-image: url(background.jpg);
	background-size: cover;
}

table
{
    margin: auto;
	text-align: center;
	border-collapse: collapse;
    background-color: #fff;
    padding: 20px;
   	border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: relative;
	top: 50px;
}

thead
{
	font-size: 25px;
    padding-bottom: 10px;
}

th
{
	background-color: #AEC6CF;
	border-color: #AEC6CF;
}

input[type="date"] 
{
    width: calc(100% - 13px);
}

select
{
    width: calc(100% - 13px);
}
	
textarea
{
	width: 538px;
	height: 125px;
}

input[type="submit"], input[type="reset"] 
{
	background-color: #AEC6CF;
    color: #000000;
    cursor: pointer;
	margin-bottom: 10px;
}

footer
{
	clear: both;
}